
/* עיצוב הכללי של הווייפ */
.warp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin-top: 90px; /* גובה ה-navbar, תוודא שזה תואם לגובה בפועל */

}

/* עיצוב הקונטיינר */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* גובה הקונטיינר */
}

/* עיצוב הכפתורים */
.button {
    background-color: #af6c08;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7e5804;
}

/* עיצוב השדות */
.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #905f15;
    outline: none;
}

/* עיצוב הכותרות */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* עיצוב הודעות שגיאה */
h6 {
    margin-top: 5px;
    margin-bottom: 0;
}

h6.red {
    color: red;
    font-size: smaller;
}
