<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- //דף הבית -->
          <a class="nav-link" routerLink=""><i class="fa-solid fa-home"></i></a>
        </li>
        <!-- //עגלת הקניות -->
        <li class="nav-item">
            <a class="nav-link" routerLink="./product/cart"><i class="fa-solid fa-shopping-cart"></i></a>
        </li>
        <!-- //המוצרים -->
        <li class="nav-item">
          <a class="nav-link" routerLink="./product"><i class="fa-solid fa-bars"></i></a>
        </li>
        <!-- //הרשמה -->
        <li class="nav-item">
          <a class="nav-link" routerLink="./customer"><i class="fa-solid fa-user"></i></a>
        </li>
        <li class="nav-item" id="logo">
          <img src="/logo.png" alt="תיאור התמונה">
        </li>
      </ul>
    </div>
  </nav>
   <router-outlet></router-outlet>
